<!doctype html>
<html itemscope="" itemtype="http://schema.org/WebPage" lang="en">
  <head>
    <meta charset="UTF-8">

    <link rel="canonical" href="https://ekatwikz.com">

    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">

    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/favicon.ico">

    <meta name="msapplication-TileColor" content="#00aba9">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png">

    <link rel="manifest" href="/manifest.json">
    <meta name="theme-color" content="#eceff4">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title><%- metaTitle %></title>

    <meta property="title" content="<%- metaTitle %>">
    <meta name="description" content="<%- metaDescription %>">

    <meta itemprop="name" content="<%- metaTitle %>">
    <meta itemprop="description" content="<%- metaDescription %>">
    <meta itemprop="image" content="<%- metaImageURL %>">

    <meta property="og:title" content="<%- metaTitle %>">
    <meta property="og:description" content="<%- metaDescription %>">
    <meta property="og:image" content="<%- metaImageURL %>">
    <meta property="og:image:secure_url" content="<%- metaImageURL %>">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="<%- metaTitle %>">
    <meta name="twitter:description" content="<%- metaDescription %>">
    <meta name="twitter:image" content="<%- metaImageURL %>">

    <link rel="preload" href="https://avatars.githubusercontent.com/u/8590845?v=4" as="image">
    <link rel="preload" crossorigin href="https://api.github.com/users/ekatwikz" as="fetch">
    <link rel="preload" crossorigin href="https://api.github.com/search/repositories?q=+repo:ekatwikz/Basic-Arkanoid+repo:ekatwikz/led-memory-game+repo:ekatwikz/Algorithms-and-Computability+repo:ekatwikz/SEng2-2023+repo:ekatwikz/katwikOpsys+repo:ekatwikz/multiThreadGame+repo:ekatwikz/matlabProject+repo:ekatwikz/katwitool&type=Repositories" as="fetch">

    <link rel="preload" href="https://cdn.jsdelivr.net/gh/Ekatwikz/linkedInFiesta/linkedin-recommendations.min.js" as="script">

    <link rel="preconnect" href="https://i.imgur.com">
    <link rel="dns-prefetch" href="https://i.imgur.com">
    <link rel="preconnect" href="https://i3.ytimg.com">
    <link rel="dns-prefetch" href="https://i3.ytimg.com">
    <link rel="preconnect" href="https://cgylzslaya.cloudimg.io">
    <link rel="dns-prefetch" href="https://cgylzslaya.cloudimg.io">
    <link rel="preconnect" href="https://static.elfsight.com">
    <link rel="dns-prefetch" href="https://static.elfsight.com">
  </head>
  <body>
    <div id="root"></div>
    <script type="module" src="/src/main.tsx"></script>
  </body>
</html>
